ANTHROPIC_API_KEY=sk-ant-...
TORII_URL=http://localhost:8080/graphql
RPC_URL=http://localhost:5050
CONTRACT_ADDRESS=0x0
GAME_ID=1
CIV_ID=1
PLAYER_PROMPT=Gather resources. Trade when possible. Attack only if threatened.
